.vscode/**
dist/**
node_modules/**
*.vsix
*.orig
.eslintrc.json
.vscodeignore
webpack.config.js
vsc-extension-quickstart.md
/.specstory
/.cursorindexingignore
/.history
/Pine Script Release Notes.pdf
/Pine Script v6 Migation Guide.pdf